*{
    transition: 0.1s;
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}

html, body{
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    min-width: 100%;
    min-height: 100%;
}

html{
    background: rgb(2,74,109);
    background: linear-gradient(126deg, rgba(2,74,109,1) 2%, rgba(64,178,196,1) 15%, rgba(2,74,109,1) 100%);
    flex-direction: column;
}

body{
    flex-grow: 1;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 100%;
}

.btn{
    padding: 5px;
    font-size: 100%;
    border: transparent;
    text-decoration: none;
    background-color: #319AB0;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover{
    background-color: rgb(43, 139, 158);
}

.btn_inverse{
    background-color: rgba(0, 0, 0, 0);
    color: #319ab0;
    border: 1px solid #319ab0;
    transition: 0.2s;
}

.btn_inverse:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.input{
    color: #444;
    background-color: white;
    border-radius: 0;
    border: 1px solid #666;
    font-size: 20px;
    padding: 2px;
}

.input:focus, .input:hover{
    border: 1px solid black;
}

.box_error{
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    font-size: 16px;
    font-weight: normal;
    width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 2px;
}

@media screen and (max-width: 500px){
    html, body{
        overflow-x: hidden;
    }

    .input{
        height: 40px;
        width: 90% !important;
    }

    .btn{
        height: 40px;
        width: 90% !important;
    }

    .box_error{
        width: 90% !important;
    }
}