#form-register-holder{
    border-radius: 3px;
    width: 400px;
    padding: 10px;
    padding-bottom: 50px;
    margin-top: 75px;
    background-color:rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 24px rgba(0, 0, 0, .27);
    color: #074d79;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

#form-register{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
    margin-top: 20px;
}

#form-register > label, #form-register > input[type="submit"]{
    display: block;
    margin-top: 10px;
}

#form-register > *, #login_button{
    width: 60%;
}

#login_button{
    margin: 10px;
}

.wrapper{
    justify-content: center;
}

#bad_entries{
    display: none;
}

@media screen and (max-width: 500px){
    #form-register-holder{
        width: 100%;
        height: 100%;
    }
    #logo > img{
        width: 95%;
        margin-top: 20px;
    }
    #logo{
        text-align: center;
    }
    #form-register > label{
        width: 90% !important;
    }
}